@model DemoDB2_B04.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
</style>
<h2>Giỏ Hàng</h2>
<a href=" @Url.Action("Index","Product")">Tiếp tục mua hàng</a>
@if (Model != null)
{
    <table class="table">
        <thead>

            <tr>
                <th>Tên sản phẩm  </th>
                <th>Hình sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành Tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                decimal total = item._quantity * (decimal)(item._product?.Price ?? 0);
                <tr>
                    <td>@Html.DisplayFor(Model => item._product.NamePro)</td>
                    <td><img src="@Url.Content(item._product.ImagePro)" height="50" width="50" /></td>
                    <td>@Html.DisplayFor(model => item._product.Price)</td>
                    <td>
                        @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._product.ProductID" name="idPro" />
                            <input type="number" value="@item._quantity" name="cartQuantity" required min="1" />
                            <input type="submit" value="Update" />
                        }
                    </td>
                    <td>@total.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>

                    <td>
                        <a href="/ShoppingCart/RemoveCart/@item._product.ProductID">Xóa</a>
                    </td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align:right ">Tổng Tiền: @Model.Total_money().ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>

                <td>
                    <div style="margin-top: 50px;">
                        <a href="@Url.Action("DatHang","ShoppingCart")" style="color: black; font-size: 20px; border: 2px solid black; border-radius: 8px; padding: 5px; text-decoration: none;" onmouseover=" this.style.color='red' " onmouseout=" this.style.color='black'">Đặt Hàng</a>
                    </div>
                </td>

            </tr>

        </tfoot>
    </table>
}
else
{
    @Html.Partial("EmptyCart")
}

