@model DemoDB2_B04.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÊM MỚI SẢN PHẨM</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table-bordered" style="margin-bottom: 475px;">
        <tr>
            <div style="display: flex;">
                <p>Tên sản phẩm</p>
                <input class="text-box single-line" id="NamePro" name="NamePro" type="text" value="" />
        
        </div>

        <tr>
            <td>@Html.LabelFor(model => model.Price) </td>
            <td>@Html.EditorFor(model => model.Price) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Category) </td>
            <td>@{Html.RenderAction("SelectCate", "Product");} </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.DecriptionPro) </td>
            <td>@Html.EditorFor(model => model.DecriptionPro) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ImagePro) </td>
            <td>
                <img src="@Url.Content(Model.ImagePro)" height="150" width="150" id="previewImg" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="file" name="UploadImages" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
                <input type="submit" value="Tạo mới" />
            </td>
        </tr>

    </table>
}
<style>
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border:none;
    }
</style>
